body {
   /* background-color: black;*/
}
/*.socials a:link {
    font-size:30px;
    font-weight: bold;
    color:rgb(85, 252, 34);
    float: left;
    font-family: 'Courier New', Courier, monospace;

}
*/
#header img{
    margin: 0 auto;
    float: right;
    padding-left: 50px;
    position: relative;
    width: 100px;
    height: 100px;
}
/*
#header h1{
    margin: 0 auto;
    float: left;
    text-align: center;
    color: rgb(85, 252, 34);
    font-size:75px;
    font-family: 'Courier New', Courier, monospace;
}
*/
#briefintro{
    color:rgb(85, 252, 34);
    text-align: center;
    font-size: 35px;
}

a:link {  
    font-size: 30px;
    float:left;
    color:rgb(85, 252, 34);
    font-family: 'Courier New', Courier, monospace;

}

.intro {
    text-align: center;
    color: rgb(85, 252, 34);
}

