body {
   background-color: black;
}

#header img{
    /*margin: 0 auto;*/
    float: right;
    position: relative;
    width: 100px;
    height: 100px;
}

#header h1{
    /*margin: 0 auto;
    float: left;*/
    text-align: center;
    color: rgb(85, 252, 34);
    font-size:85px;
    font-family: 'Courier New', Courier, monospace;
}

#briefintro{
    color:rgb(85, 252, 34);
    text-align: center;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;

}

a:link {  
    font-size: 30px;
    float:left;
    /*color:rgb(83, 14, 116);*/
    font-family: 'Courier New', Courier, monospace;

}


.intro {
    text-align: center;
    color: rgb(85, 252, 34);
    font-family: 'Courier New', Courier, monospace;

}

p{
    color:rgb(85, 252, 34);
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}

h1{
    color:rgb(85, 252, 34);
    font-family: 'Courier New', Courier, monospace;
    font-size: 65px;

}
.superbowl{
    color:rgb(85, 252, 34);
    font-family: 'Courier New', Courier, monospace;
}

.favFranchises{
    color: rgb(85, 252, 34);
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
    list-style-position: inside;
    font-size: 30px;
}

ol.favFranchises li{
 text-align: left;
 margin-left: 45%;
}

.jokes{
    color: rgb(85, 252, 34);
    font-family: 'Courier New', Courier, monospace;

 
}